<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Scandals</title>
</head>
<body>
<h1>Verified Scandals</h1>

<a th:href="@{/report/show}"><button>Report a New Scandal</button></a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="scandal : ${scandals}">
        <td th:text="${scandal.name}"></td>
        <td>
            <a th:href="@{/all-scandals/{id}(id=${scandal.id})}">View Details</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>