<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scandal Details</title>
</head>
<body>
<h1 th:text="${scandal.name}">Scandal Name</h1>

<div>
    <strong>Description:</strong>
    <p th:text="${scandal.description}"></p>
</div>

<div>
    <strong>Timeframe:</strong>
    <span th:text="${scandal.startYear}"></span> - <span th:text="${scandal.endYear}"></span>
</div>

<br>
<a th:href="@{/all-scandals}">Back to All Scandals</a>
</body>
</html>